{{/*
  This shortcode renders entries from a CSL-JSON file.
*/}}

{{- $src := "" }}
{{- $citedOnly := false }}
{{- $references := false }}

{{- if .IsNamedParams }}
  {{- with .Get "src" }}{{ $src = . }}{{ end }}
  {{- if .Get "cited" }}{{ $citedOnly = true }}{{ end }}
{{- else }}
  {{- with .Get 0 }}
    {{- if eq . "cited" }}
      {{- $citedOnly = true }}
    {{- else }}{{/* assume path to bib */}}
      {{- $src = . }}
    {{ end }}
  {{ end }}
  {{- if eq (.Get 1) "cited" }}{{- $citedOnly = true }}{{ end }}
{{- end }}

{{- if $citedOnly }}{{/* Render cited references only */}}
  {{ $references = $.Page.Scratch.Get "citedBib" }}
{{- else }}{{/* Render the full bibliography */}}
  {{- $pageDir := path.Dir .Page.File.Path -}}
  {{- $pageName := path.BaseName $pageDir -}}
  
  {{- if $src -}}
    {{/* Use specified bibliography */}}
    {{- with $.Site.Data.bibliography -}}
      {{- with index . (path.BaseName $src) -}}
        {{- $references = . -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{/* Try with page name */}}
    {{- if isset $.Site.Data.bibliography $pageName -}}
      {{- $references = index $.Site.Data.bibliography $pageName -}}
    {{- else if isset $.Site.Data.bibliography "bibliography" -}}
      {{- $references = $.Site.Data.bibliography.bibliography -}}
    {{- end -}}
  {{- end -}}
{{- end }}

{{- $bibParams := dict "references" $references }}
{{- partial "bibliography/bibliography-list.html" $bibParams }}
